/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .ilustra1-img {
     background-image: url("../img/innup_ilustra5.png");
     width: 100%;
     background-position: absolute;
     background-repeat: no-repeat;
 }

 .text-padrao {
  text-align: left;
  font-size: 20px;
}

 .chamada1 {
     text-align: left;
     font-size: 50px;
     line-height: 1;
     font-family: 'Montserrat', sans-serif;
 }

 .chamada1-sub {
     text-align: left;
     font-size: 18px;
     font-family: 'Montserrat', sans-serif;
 }

 .chamada2-inter {
   text-align: left;
   font-size: 30px;
   font-family: 'Montserrat', sans-serif;
 }

.chamada2-sub {
  text-align: left;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 0.7;
}

.session-title {
  text-align: center;
  font-size: 50px;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
}

.text-icons {
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
